.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(29, 29, 29, 0.5);
  border: 1px solid var(--primary-purple);
  border-radius: 15px;
  padding: 12px 15px;
  width: 100%;
  max-width: 320px;
  margin-top: 10px;
  height: 150px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  padding: 5px 10px;
}

.button-group button {
  background-color: var(--primary-purple);
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, background 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.arrow-btn,
.randomize-btn {
  width: 60px;
  height: 60px;
  font-size: 1.4rem;
}

.randomize-btn {
  width: 50px;
  height: 50px;
  background-color: rgba(196, 196, 196, 0.9) !important;
}

.button-group button:hover {
  background-color: #9c0f7b;
  transform: scale(1.1);
}

.green-btn {
  color: var(--black);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 8px;
  width: 177px;
  padding: 3px;
  background-color: var(--primary-purple);
}

.green-btn:hover {
  color: var(--white);
  transform: scale(1.07);
  background-color: #9c0f7b;
}
