:root {
  --primary-green: #28a745;
  --dark-green: #1e7e34;
  --light-gray: #d4d4d4;
  --dark-gray: #333;
  --background-dark: #000;
  --white: #fff;
  --table-hover-green: rgba(40, 167, 69, 0.8);
  --border-light: rgba(255, 255, 255, 0.7);
  --row-alt: rgba(255, 255, 255, 0.05);
}

body {
  background-color: var(--background-dark);
  margin: 0;
  font-family: "Red Hat Text", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--primary-green);
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.title {
  color: var(--white);
  font-family: "Mystery Quest", cursive;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

h2 {
  color: var(--black);
  font-family: "Mystery Quest", cursive;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
#instructions {
  font-size: 0.8rem;
  color: var(--border-light);
  text-align: center;
  margin-top: 10px;
}

#footer {
  color: var(--border-light);
  font-size: 0.6rem;
  margin-top: auto;
  margin-bottom: 5px;
  text-align: center;
}

.status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.status-message {
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background: none;
  padding: 8px 12px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: fit-content;
  min-width: 120px;
  display: none;
}

#loading-bar-container {
  width: 160px;
  height: 8px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 5px;
  display: none; /* Initially hidden */
  position: relative;
}

#loading-bar {
  width: 0%;
  height: 100%;
  background: var(--primary-green);
  transition: width 0.5s ease-in-out;
}

#loading-message {
  font-size: 0.8rem;
  color: var(--white);
  margin-top: 5px;
  display: none; /* Initially hidden */
}

#shuffling-message {
  font-size: 0.8rem;
  color: var(--primary-green);
  display: none;
}

/* Override spinner color */
.spinner-border {
  color: var(--primary-green) !important;
}

/* If you want to adjust the border color more specifically */
.spinner-border::after {
  border-top-color: var(--primary-green) !important;
}
