.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #1e1e1e, #333);
  border: 1px solid var(--primary-green);
  border-radius: 15px;
  padding: 10px 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 320px;
  margin: 5px auto;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.arrow-btn,
.randomize-btn,
.green-btn {
  background-color: var(--primary-green);
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, background 0.3s ease-in-out;
}

.arrow-btn,
.randomize-btn {
  color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-btn {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
}

.randomize-btn {
  width: 35px;
  height: 35px;
  padding: 5px;
}

.arrow-btn:hover,
.randomize-btn:hover,
.green-btn:hover {
  background-color: var(--dark-green);
  transform: scale(1.1);
}

.arrow-btn i,
.randomize-btn i {
  font-size: 1.4rem;
}

.green-btn {
  color: var(--black);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 8px;
  width: 155px;
  padding: 2px;
}

.green-btn:hover {
  color: var(--white);
  transform: scale(1.05);
}
