body {
  background-color: #000;
  margin: 0;
  font-family: "Red Hat Text", sans-serif;
}

header {
  background: linear-gradient(90deg, #28a745, #1e7e34);
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.title {
  color: #ffffff;
  font-family: "Mystery Quest", cursive;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.card-container {
  perspective: 1000px;
  width: 80%;
  max-width: 350px;
  aspect-ratio: 2 / 3;
  position: relative;
  margin: 10px auto;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s, box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 25px rgba(0, 255, 0, 0.5), 0 0 50px rgba(0, 255, 0, 0.2);
  border-radius: 15px;
}

.card-inner:hover {
  box-shadow: 0 0 40px rgba(0, 255, 0, 0.8), 0 0 60px rgba(0, 255, 0, 0.3);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 25px rgba(0, 255, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
  }
}

.card-inner.is-flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

.card-front {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border: 2px solid #28a745;
  color: #000;
  transition: background 0.5s ease;
}

.card-front:hover {
  background: linear-gradient(145deg, #e6e6e6, #f2f2f2);
}

.card-back {
  background: linear-gradient(145deg, #28a745, #1e7e34);
  color: #ffffff;
  transform: rotateY(180deg);
  border: 1px solid #fff;
}

.category {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #28a745;
  background-color: transparent;
  padding: 2px 5px;
  border-radius: 5px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
  position: absolute;
  top: 10px;
  left: 10px;
}

.context {
  font-size: 0.4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(102, 102, 102);
  position: absolute;
  top: calc(15px + 0.8rem);
  left: 15px;
}

.question {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #333;
}

.answer {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.8;
  color: #f8f9fa;
}

.arrow-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}

.arrow-btn {
  background: linear-gradient(145deg, #28a745, #1e7e34);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, background 0.3s ease-in-out;
}

.arrow-btn:hover {
  background: linear-gradient(145deg, #1e7e34, #28a745);
  transform: scale(1.1);
}

.arrow-btn:focus {
  outline: none;
}

#instructions {
  font-size: 1rem;
  margin: 5px 0 10px;
  color: #cccccc;
  text-align: center;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 255, 0, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  }
}

#randomize-btn {
  background: linear-gradient(145deg, #28a745, #1e7e34);
  color: #ffffff;
  font-size: 1.5rem; /* Adjust size for the icon */
  border: none;
  border-radius: 50%; /* Make it a circular button */
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#randomize-btn:hover {
  background: linear-gradient(145deg, #1e7e34, #28a745);
  transform: scale(1.1); /* Slight scaling effect on hover */
}

#randomize-btn i {
  font-size: 1.5rem; /* Icon size */
}

/* Keyframes for fade-out effect */
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Card fade-out animation class */
.fade-out {
  animation: fadeOut 0.5s forwards;
}

/* Card fade-in animation class */
.fade-in {
  animation: fadeIn 0.5s forwards;
}

.shooting-stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
}

.star {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 22px 7px rgba(255, 255, 255, 0.8);

  opacity: 0;
  animation: shoot linear infinite;
}

@keyframes shoot {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(var(--end-x), var(--end-y)) scale(var(--scale));
  }
}

.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: linear-gradient(145deg, #1e1e1e, #333);
  border: 2px solid #28a745;
  border-radius: 15px;
  padding: 10px 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 350px;
  margin: 10px auto 5px;
}

.arrow-btn,
.randomize-btn {
  background: linear-gradient(145deg, #28a745, #1e7e34);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, background 0.3s ease-in-out;
}

.arrow-btn:hover,
.randomize-btn:hover {
  background: linear-gradient(145deg, #1e7e34, #28a745);
  transform: scale(1.1);
}

.arrow-btn i,
.randomize-btn i {
  font-size: 1.2rem;
}

.randomize-btn {
  width: 60px;
  height: 60px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 255, 0, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  }
}

footer {
  background: linear-gradient(90deg, #28a745, #1e7e34);
  color: #fff;

  font-size: 0.8rem;
  margin-top: 15px;
}
